<% provide(:title, "トップページ" ) %>
<div class="l-main">
  <div class="c-heart"></div>
  <div>
    <a href="/rails/mailers">MailPreviewer</a><br>
    <a href="/admin/login">ActiveAdmin</a>
  </div>
</div>
